/* 
Potential Colors
	background pink/red #ef9a9a, white
	background grey #37474f
	cherry red #c62828
	card panel pink #ffcdd2
	button pink #e57373
	text black
*/

/*
Current Colors
	background blue grey #37474f
	background white white
	others blue #2196f3

*/

/* Backgrounds */
body {
	background-color: #37474f;
}
#background {
	background-color: white;
	margin-top: 10%;
}

/* Fonts */
html {
	font-family: Verdana;
}
#title {
	/* Needs https://fonts.googleapis.com/css?family=Dancing+Script */
	font-family: 'Dancing Script', cursive;
	font-size: 800%;
}

/* MJ Silhouette */
img {
	height: 250px;
	margin: 2.5%;
}

/* Progress Bar */
#progressStatic {
	background-color: white;
}
#progressDynamic {
	background-color: #2196f3;
}

/* Text Containers, same color */
#submitBtn {
	background-color: #2196f3;
}
#jokes {
	margin-top: -5%;
}
#jokes div {
	background-color: #2196f3;
	color: white;
	padding: 5px;
	padding-left: 5%;
}
.row .section div {
	background-color: #2196f3;
	color: white;
}